.apexcharts-title-text {
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3rem;
}

.apexcharts-text {
  font-family: "Roboto", sans-serif !important;
}

.apexcharts-yaxis-title-text {
  font-size: 0.9rem;
}
